// Imports

// ¿POR QUÉ NO FUNCIONA SIN ESTO?

// Bootstrap functions
@import "bootstrap/scss/functions";

// My overrides
@import "variables";

// Now bootstrap variables, maps, mixins, and root
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// The rest
@import "bootstrap/scss/bootstrap";

// AOS
@import "aos/dist/aos.css";

// CUSTOM STYLES

.hero {
  &__image {
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    background-image: url("../../assets/banner.jpg");
  }

  /* Specific images for each page */

  &--about &__image {
    background-image: url("../../assets/banner-1.webp");
  }

  &--services &__image {
    background-image: url("../../assets/banner-1.webp");
  }

  &--dogtraining &__image {
    background-image: url("../../assets/banner-1.webp");
  }

  &--reserve &__image {
    background-image: url("../../assets/banner-1.webp");
  }

  &__title,
  &__subtitle {
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
  }
}
