.hero__image {
  background-image: url("../assets/banner.png");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  color: rgb(255, 252, 241);
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  font-size: 1.3rem;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: lightskyblue;
  text-align: center;
}

section {
  padding: 50px;
}

img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.our-services {
  background-color: lightcoral;
}

.customer-experience {
  background-color: orange;
}

.our-services img {
  border-radius: 50%;
}

.our-story {
  background-color: lightcoral;
}

.what-sets-us-apart {
  background-color: orange;
}
.what-sets-us-apart div {
  display: flex;
}

.long-stays {
  display: flex;
  background-color: lightcoral;
}

.day-care {
  display: flex;
  background-color: orange;
}

.featured-topics {
  background-color: lightcoral;
}

.category-topics {
  background-color: orange;
}

.booking-form {
  background-color: lightcoral;
}

.booking-form div {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: auto;
  border-radius: 10px;
}
.booking-form div form * {
  display: block;
  margin: auto;
  border-radius: 3px;
  padding: 5px;
}

footer {
  background-color: beige;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-info {
  display: flex;
  gap: 20px;
}
 */
