* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

/* HEADER */

header {
  background-color: cadetblue;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

a {
  text-decoration: none;
}

/* MAIN */

main {
  background-color: lightskyblue;
  text-align: center;
}

section {
  padding: 50px;
}

img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.services img {
  border-radius: 50%;
}

/* FOOTER */

footer {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-info {
  display: flex;
  gap: 20px;
}
